In [91]:
# %%
import pandas as pd

df_copy = pd.read_excel('1df9e396-d7f3-47ec-b3c7-aac4ef1664c8.xlsx')

KeyboardInterrupt:

In [ ]:
df = df_copy.copy()

In [ ]:
print(df.columns)

df

Index(['Número do processo', 'Data do ultimo movimento', 'Dias sem movimento',
       'Movimento realizado', 'Tarefa realizada', 'Instância',
       'Total de processos', 'Localização', 'Localização.1',
       '%ID_PROCESSO_TRF'],
      dtype='object')

,Número do processo,Data do ultimo movimento,Dias sem movimento,Movimento realizado,Tarefa realizada,Instância,Total de processos,Localização,Localização.1,%ID_PROCESSO_TRF
0,0804735-71.2015.4.05.8300,2016-02-02 09:48:57.363,2886,Mero expediente,17 - Análise do Sobrestamento,1º Grau,1,PE,PE,PJe|PE|36357
1,0800343-30.2016.4.05.8405,2016-09-02 14:06:42.214,2672,Distribuição,56 - Conhecimento - Secretaria,1º Grau,1,RN,RN,PJe|RN|52368
2,0800339-90.2016.4.05.8405,2016-09-21 14:12:12.789,2653,Juntada Cert,56 - Conhecimento - Secretaria,1º Grau,1,RN,RN,PJe|RN|52310
3,0801628-70.2016.4.05.8401,2016-09-22 09:16:20.645,2653,Distribuição,56 - Conhecimento - Secretaria,1º Grau,1,RN,RN,PJe|RN|53839
4,0801629-55.2016.4.05.8401,2016-09-22 09:49:00.583,2653,Distribuição,39 - Redistribuição,1º Grau,1,RN,RN,PJe|RN|53841
...,...,...,...,...,...,...,...,...,...,...
539977,0825852-40.2023.4.05.8300,2023-12-11 21:55:37.067,16,Petição,24 - Ato do Magistrado,1º Grau,1,PE,PE,PJe|PE|488715
539978,0825855-92.2023.4.05.8300,2023-12-11 23:22:26.153,16,Distribuição,119 - Controlar Prazos,1º Grau,1,PE,PE,PJe|PE|488721
539979,0825856-77.2023.4.05.8300,2023-12-11 23:29:19.482,16,Distribuição,121 - Expedientes com Manifestação,1º Grau,1,PE,PE,PJe|PE|485801
539980,2000006-53.2019.4.05.8302,2023-12-11 21:16:32.768,16,Petição,49 - Dar Ciência às Partes,1º Grau,1,PE,PE,PJe|PE|166350
539981,5000390-86.2023.4.02.5107,2023-12-11 19:37:14.731,16,Petição,57 - Dar Ciência às Partes,1º Grau,1,RN,RN,PJe|RN|234138

In [ ]:
#df.drop_duplicates('%ID_PROCESSO_TRF', inplace=True)

df['Dias sem movimento'] = df['Dias sem movimento'].round(0)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539982 entries, 0 to 539981
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Número do processo        539982 non-null  object
 1   Data do ultimo movimento  539982 non-null  datetime64[ns]
 2   Dias sem movimento        539982 non-null  int64
 3   Movimento realizado       539982 non-null  object
 4   Tarefa realizada          539982 non-null  object
 5   Instância                 539982 non-null  object
 6   Total de processos        539982 non-null  int64
 7   Localização               539982 non-null  object
 8   Localização.1             539982 non-null  object
 9   %ID_PROCESSO_TRF          539982 non-null  object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 41.2+ MB

In [ ]:
df.shape

(539982, 10)

In [ ]:
import numpy as np
conditions = [

    (df['Dias sem movimento'] >= 30) & (df['Dias sem movimento'] <= 59),

    (df['Dias sem movimento'] >= 60) & (df['Dias sem movimento'] <= 89),


    (df['Dias sem movimento'] >= 90),


    (df['Dias sem movimento'] < 30)

]

values = ['sem_movimento_30', 'sem_movimento_60', 'sem_movimento_90', '<30']

df['Dias Grupos'] = np.select(conditions, values)

df.head()

,Número do processo,Data do ultimo movimento,Dias sem movimento,Movimento realizado,Tarefa realizada,Instância,Total de processos,Localização,Localização.1,%ID_PROCESSO_TRF,Dias Grupos
0,0804735-71.2015.4.05.8300,2016-02-02 09:48:57.363,2886,Mero expediente,17 - Análise do Sobrestamento,1º Grau,1,PE,PE,PJe|PE|36357,sem_movimento_90
1,0800343-30.2016.4.05.8405,2016-09-02 14:06:42.214,2672,Distribuição,56 - Conhecimento - Secretaria,1º Grau,1,RN,RN,PJe|RN|52368,sem_movimento_90
2,0800339-90.2016.4.05.8405,2016-09-21 14:12:12.789,2653,Juntada Cert,56 - Conhecimento - Secretaria,1º Grau,1,RN,RN,PJe|RN|52310,sem_movimento_90
3,0801628-70.2016.4.05.8401,2016-09-22 09:16:20.645,2653,Distribuição,56 - Conhecimento - Secretaria,1º Grau,1,RN,RN,PJe|RN|53839,sem_movimento_90
4,0801629-55.2016.4.05.8401,2016-09-22 09:49:00.583,2653,Distribuição,39 - Redistribuição,1º Grau,1,RN,RN,PJe|RN|53841,sem_movimento_90

In [ ]:
df['Dias Grupos'].head()

tabela_nova = df.groupby(['Localização', 'Dias Grupos'])['%ID_PROCESSO_TRF'].nunique()

tabela_redalert =pd.DataFrame(tabela_nova)

In [ ]:


tabela_redalert.reset_index(inplace=True)

tabela_redalert = tabela_redalert.rename(columns={'Localização': 'sigla', 'Dias Grupos':'Alerta', '%ID_PROCESSO_TRF':'Quantidade'})

#tabela_redalert.set_index(['Seção Judiciária', 'Alerta']).unstack(level=1)['Quantidade']

tabela_redalert = tabela_redalert.pivot_table(index=['sigla'], columns=['Alerta'], values='Quantidade', aggfunc='sum').reset_index()


#tabela_nova.pivot_table('Seção Judiciária', 'Alerta', 'Quantidade', aggfunc='first')


#tabela_redalert.drop(['<30', 'Alerta'], axis=1, inplace=True)

tabela_redalert.drop('<30', axis=1, inplace=True)

tabela_redalert

Alerta sigla  sem_movimento_30  sem_movimento_60  sem_movimento_90
0         AL             20922              7487             18167
1         CE             39672             12554             33331
2         PB             25703              8174             18603
3         PE             31815             10147             20301
4         RN             15442              3749              4176
5         SE             13368              3782              6064

In [ ]:
#tabela_redalert.drop('Alerta', axis=0, inplace=True)
tabela_redalert

Alerta sigla  sem_movimento_30  sem_movimento_60  sem_movimento_90
0         AL             20922              7487             18167
1         CE             39672             12554             33331
2         PB             25703              8174             18603
3         PE             31815             10147             20301
4         RN             15442              3749              4176
5         SE             13368              3782              6064

In [ ]:
tabela_redalert = tabela_redalert.reset_index(drop=True)
#tabela_redalert = tabela_redalert.reindex(['Alerta','Seção Judiciária', 'Processos entre 30 e 59 dias sem movimento', 'Processos entre 60 e 89 dias sem movimento', 'Processos com mais de 90 dias sem movimento'])
tabela_redalert

Alerta sigla  sem_movimento_30  sem_movimento_60  sem_movimento_90
0         AL             20922              7487             18167
1         CE             39672             12554             33331
2         PB             25703              8174             18603
3         PE             31815             10147             20301
4         RN             15442              3749              4176
5         SE             13368              3782              6064

In [ ]:
tabela_ordenada = tabela_redalert[['sigla', 'sem_movimento_30', 'sem_movimento_60', 'sem_movimento_90']]
tabela_ordenada

tabela_ordenada

Alerta sigla  sem_movimento_30  sem_movimento_60  sem_movimento_90
0         AL             20922              7487             18167
1         CE             39672             12554             33331
2         PB             25703              8174             18603
3         PE             31815             10147             20301
4         RN             15442              3749              4176
5         SE             13368              3782              6064

In [ ]:
colunas_para_formatar = ['Processos entre 30 e 59 dias sem movimento', 'Processos entre 60 e 89 dias sem movimento', 'Processos com mais de 90 dias sem movimento']

for coluna in colunas_para_formatar:
    tabela_ordenada[coluna] = tabela_ordenada[coluna].apply(lambda x: '{:,.0f}'.format(x).replace(',', '.'))

tabela_ordenada

Alerta,Seção Judiciária,Processos entre 30 e 59 dias sem movimento,Processos entre 60 e 89 dias sem movimento,Processos com mais de 90 dias sem movimento
0,AL,20.922,7.487,18.167
1,CE,39.672,12.554,33.331
2,PB,25.703,8.174,18.603
3,PE,31.815,10.147,20.301
4,RN,15.442,3.749,4.176
5,SE,13.368,3.782,6.064

In [ ]:
datatoexcel = pd.ExcelWriter('testes.xlsx')

tabela_ordenada.to_excel(datatoexcel)

datatoexcel.save()


type(tabela_ordenada)

pandas.core.frame.DataFrame

In [ ]:
tabela_ordenada[tabela_ordenada['sigla'] == 'AL']['sem_movimento_30']

0    20922
Name: sem_movimento_30, dtype: int64

In [ ]:
tabela_ordenada

Alerta sigla  sem_movimento_30  sem_movimento_60  sem_movimento_90
0         AL             20922              7487             18167
1         CE             39672             12554             33331
2         PB             25703              8174             18603
3         PE             31815             10147             20301
4         RN             15442              3749              4176
5         SE             13368              3782              6064

In [96]:
texto = "ola"

# /*  Comentário: """+texto+""" */

In [100]:
from sender import Sender

envio = Sender()

body = """\
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório Mensal</title>
    <style>
        body {
            font-family: "Verdana", "sans-serif";
        }

        .titulo {
            font-size: 1.5em;
            font-weight: bold;
            text-align: center;
            background-color: #ADADAD;
            padding: 0.5em 0 0.5em 0.5em;
            position: relative;
            margin-bottom: 0;
        }

        .subtitulo {
            font-size: 0.8em;
            text-align: center;
            background-color: #E8E8E8;
            padding: 0.5em 0 0.5em 0.5em;
            margin-top: 0;
            position: relative;
            top: 0;
        }

        .secao {
            font-size: 1.2em;
            text-align: center;
            font-weight: bold;
            background-color: #E8E8E8;
            padding: 0.5em 0 0.5em 0.5em;
            top: 0;
        }

        .lista {
            margin: 0.1em 0 0.2em 1em;
        }

        li {
            margin-bottom: 0.4em;
        }

        .tabela_de_imagens {
            align-items: center;
            margin-top: 2em;
            margin-bottom: 2em;
        }

        .footer {
            text-align: center;
            background-color: #ADADAD;
            width: 100%;
            padding: 1em 0;
            margin-top: 1em;
        }

        .logo_residencia {
            width: 14em;
            padding: 0 2em;
        }

        .logo_ra {
            width: 3.5em;
        }

        .logo_trf5 {
            width: 5em;
        }

        .nota_email{
            font-size: 0.8em;
            color:  #6b6a6a;
            margin-top: 0.5em;
        }
    </style>

</head>

<body>
    <div>
        <p class="titulo">Relatório Mensal da 1° Vara do Estado do Rio Grande do Norte<span id="sigla"></span></p>
        <p class="subtitulo">Data de extração <strong id="data_extracao">29/02/2024</strong></p>
    </div>

    <div>
        <p class="secao">Tempo de Movimentação</p>
        <ul class="lista">
        
        <!-- Comentário: """+texto+""" -->
            <li>De 30 até 59 dias sem movimento: <strong id="sem_movimento_30">50</strong></li>
            <li>De 60 até 89 dias sem movimento: <strong id="sem_movimento_60">1200</strong></li>
            <li>Mais de 90 dias sem movimento: <strong id="sem_movimento_90">2400</strong></li>
        </ul>
    </div>

    <div>
        <p class="secao">Prescrição em Improbidade Administrativa</p>
        <ul class="lista">
            <li>Processos com menos de 1 ano para prescrição: <strong id="prescricao_01">0</strong></li>
            <li>Processos entre 1 e 2 anos para prescrição: <strong id="prescricao_02">10</strong></li>
            <li>Processos entre 2 e 3 anos para prescrição: <strong id="prescricao_03">20</strong></li>
        </ul>
    </div>
    <br>

    <div class="footer">
        <strong>Para mais informações acesse o Instant:</strong><br>
        <a href="https://instant.trf5.jus.br/inspecao-web/#/login">
            https://instant.trf5.jus.br/inspecao-web/#/login
        </a>
    </div>

    <table class="tabela_de_imagens" align="center">
        <tr>
            <td>
                <img class="imagem_grade logo_trf5"
                    src="https://residenciaregional.jfrn.jus.br/wp-content/uploads/2024/02/logo-trf5-300x191.png"
                    alt="Logo do TRF5">
            </td>
            <td>
                <img class="imagem_grade logo_residencia"
                    src="https://residenciaregional.jfrn.jus.br/wp-content/uploads/2022/03/Residencia_logo-C.png"
                    alt="Logo da Residência em TI">
            </td>
            <td>
                <img class="imagem_grade logo_ra"
                    src="https://residenciaregional.jfrn.jus.br/wp-content/uploads/2024/02/logo_ra.png"
                    alt="Logo da Residência em TI">
            </td>
        </tr>
    </table>

  <div class="nota_email">
        Envio de e-mails automático do Red Alert 
        | TRF5 - Tribunal Regional Federal da 5ª Região
    </div>

</body>

</html>
"""


# index=False, index_names=False

envio.enviar_email(body)

In [ ]:
df['Dias sem movimento'].head()

0    2886
1    2672
2    2653
3    2653
4    2653
Name: Dias sem movimento, dtype: int64

In [ ]:
df['Localização'].value_counts()

CE    150933
PE    117036
PB     93930
AL     81112
RN     51780
SE     45191
Name: Localização, dtype: int64